/** Home */
.page.home {
  .section--primary {
    .bg-video {
      overflow: hidden;
    }

    position: relative;
    padding-bottom: $spacer * 5;

    @include media-breakpoint-up(md) {
      padding-bottom: $spacer * 8;
    }

    @include media-breakpoint-up(lg) {
      padding-bottom: $spacer * 16;
    }

    .section-header .section-title-loud {
      margin-bottom: $spacer * 4;
    }
  }

  .boxed--main {
    height: 100%;
    position: relative;
    text-align: left;

    @include media-breakpoint-up(md) {
      text-align: center;
    }

    .boxed-body {
      margin-top: $spacer * 4;
      width: 100%;

      @include media-breakpoint-up(xl) {
        align-self: center;
      }
    }
  }

  .boxed {
    width: 100%;
  }

  .boxed--pointer {
    @include media-breakpoint-up(md) {
      height: 380px;
    }

    .boxed-img,
    .boxed-content {
      width: 100%;
      height: 100%;

      @include media-breakpoint-up(md) {
        width: 50%;
      }
    }

    .icon-svg {
      width: map-get($icon-sizes, '2x');
      height: map-get($icon-sizes, '2x');

      @include media-breakpoint-up(xl) {
        width: map-get($icon-sizes, '3x');
        height: map-get($icon-sizes, '3x');
      }
    }
  }
}

/** How It Works */
$hiw-section-breakpoint: xl;

.page.how-it-works {
  .section--primary {
    .section-body {
      margin-bottom: $spacer * 4;

      @include media-breakpoint-up(md) {
        margin-bottom: $spacer * 10;
      }
    }
  }

  .section--secondary {
    overflow: hidden;
  }

  .boxed-numbered {
    color: theme-color(alt);
    transition: $transition-btn;
    transition-timing-function: $transition-ease-in-out;
  }

  .boxed--how-it-work {
    display: block;
    text-decoration: none;
    color: theme-color(gray);
    transition: $transition-btn;

    @include hover {
      color: theme-color(dark);

      .boxed-numbered {
        color: theme-color(primary);
      }
    }
  }

  .inner-wrap {
    padding-top: $spacer * 5;

    @include media-breakpoint-up($hiw-section-breakpoint) {
      padding-top: $spacer * 8;
      flex-flow: wrap row;
    }
  }

  .section-content-part--text {
    width: 100%;
    padding-bottom: $spacer * 5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  .section-content-part--media {
    height: auto;
    width: 100%;
    max-width: 80vw;
  }

  .style-left,
  .style-right {
    .section-content-part--text,
    .section-content-part--media {
      @include media-breakpoint-up($hiw-section-breakpoint) {
        min-height: 720px;
        width: 50%;
      }
    }

    .section-content-part--media {
      display: flex;
      align-items: flex-end; // bottom.

      @include media-breakpoint-up($hiw-section-breakpoint) {
        .reveal {
          margin-left: auto;
          margin-right: auto;
          max-width: map-get($container-max-widths, md);
        }
      }
    }
  }

  .style-left {
    .inner-wrap {
      @include media-breakpoint-up($hiw-section-breakpoint) {
        flex-direction: row-reverse;
      }
    }

    .section-content-part--media {
      align-self: flex-start;
      justify-content: flex-start;

      @include media-breakpoint-up($hiw-section-breakpoint) {
        // left: 0;
        // right: 55%;
        // text-align: right;
      }
    }
  }

  .style-right {
    .section-content-part--text {
      @include media-breakpoint-up($hiw-section-breakpoint) {
        align-self: flex-start;
      }
    }

    .section-content-part--media {
      align-self: flex-end;
      justify-content: flex-end;

      @include media-breakpoint-up($hiw-section-breakpoint) {
        // left: 55%;
        // right: 0%;
        // text-align: left;
      }
    }
  }

  .style-center {
    .section-content-part--media {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      height: 100%;
      max-width: map-get($container-max-widths, xl);
    }
  }
}

/** Product */
$product-position-breakpoint: xl;

.page.product {
  .section--primary {
    .container {
      max-width: map-get($container-max-widths, sm);

      @include media-breakpoint-up(md) {
        max-width: map-get($container-max-widths, lg);
      }
    }
  }

  .boxed--product {
    padding-top: $spacer * 3;
    padding-bottom: $spacer * 1;

    @include media-breakpoint-up(lg) {
      max-width: 440px;
      margin-left: auto;
      margin-right: auto;
      padding-left: $spacer * 3;
      padding-right: $spacer * 3;
    }

    .boxed-header {
      height: 220px;
    }

    .product-format {
      font-weight: $font-weight-light;
    }

    .btn {
      width: 100%;
      max-width: 240px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .btn--product {
    @extend .btn-primary;
  }

  .btn--info {
    text-transform: none;
    color: theme-color(gray);

    @include hover {
      color: theme-color(dark);
    }
  }

  .section--secondary {
    .btn {
      @extend .btn-light;
    }

    &.bg-light .btn {
      @extend .btn-primary;
    }

    .boxed {
      width: 100%;

      .boxed-title {
        max-width: 400px;
      }
    }

    .inner-wrap {
      flex-flow: wrap row;
    }
  }

  .section-content-part--text,
  .section-content-part--media {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: $spacer * 1;
    padding-right: $spacer * 1;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-up(md) {
      width: 80%;
      padding-left: $spacer * 3;
      padding-right: $spacer * 3;
    }

    @include media-breakpoint-up($product-position-breakpoint) {
      width: 50%;
      padding-left: $spacer * 5;
      padding-right: $spacer * 5;
    }
  }

  .style-right {
    .inner-wrap {
      @include media-breakpoint-up($product-position-breakpoint) {
        flex-direction: row-reverse;
      }
    }
  }
}

/** Support */
$support-column-breakpoint: lg;

.page.support {
  .section--primary {
    .no-gutters .col-content {
      padding-left: 0;
      padding-right: 0;
    }

    .col-content {
      @include make-col-ready;
      @include make-col(12);

      @include media-breakpoint-up($support-column-breakpoint) {
        @include make-col(6);

        .boxed--contact,
        .boxed--formidable {
          max-width: map-get($container-max-widths, xxl) * 0.5 + $grid-gutter-width;
        }

        .boxed--contact {
          margin-left: auto;
          margin-right: 0;
        }

        .boxed--formidable {
          margin-left: 0;
          margin-right: auto;
        }
      }
    }

    .col-information {
      display: flex;
      flex-direction: column;
    }

    .boxed {
      padding: $spacer * 3 $spacer * 0;

      @include media-breakpoint-up($support-column-breakpoint) {
        padding: $spacer * 5 $spacer * 3 $spacer * 3;
      }
    }

    .boxed--contact,
    .boxed--formidable {
      width: 100%;
    }

    .boxed--map {
      height: 100%;
      min-height: 440px;
    }
  }
}

