/** Sticky element */
.sticky {
  position: -webkit-sticky !important;
  position: -moz-sticky !important;
  position: -ms-sticky !important;
  position: -o-sticky !important;
  position: sticky !important;
  z-index: 2000;
  margin-top: 250px;
  top: 25px;
  right: 25px;
}
