.alert {
  font-size: 0.8rem;;
  background-color: transparent;
  color: theme-color(gray);
  border-radius: .25rem;
  padding: .5rem .75rem;

  p {
    margin-bottom: 0;
  }

  &.alert-sticky-notes{
    background-color: rgba(6, 191, 133, 0.64) !important;
  }
  &.alert-knowledge-base{
    //background-color: #17a2b8;
    background-color: rgba(23, 162, 184, 0.64) !important;
  }
}

