.custom-control {
  margin-top: 1em;
  margin-bottom: 0;

  &.custom-radio {
    .custom-control-description {
      color: grayscale(500);
      font-size: 0.8rem;
      margin-top: 0.1em;
    }
  }
}

.custom-control-description {
  color: grayscale(500);
  font-size: .75em;
}
