div.tax-nav {
    .progress {
        display: -ms-flexbox;
        display: flex;
        height: 1rem;
        overflow: hidden;
        font-size: 0.75rem;
        background-color: #bfbfbf;
        border-radius: 0.25rem;
        margin-top: 5px;
        margin: 0 40px 0 60px;
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-size: 1rem 1rem;
    }

    .progress-bar {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        //background-color: #007bff;;
        background-color: #06bf85;
        transition: width 0.6s ease;
    }

    .progress-bar-striped {
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-size: 1rem 1rem;
    }

    ul ul {
        display: none;
    }

    ul {
        padding: 0px 0px; 
        list-style: none;
        position: relative;
        z-index: 20;

        li i, li a {
            color: #7a7a7a !important;
        }

        li.filled > i, li.filled > a {
            color: #06bf85 !important;
        }

        li.focused > i, li.focused > a {
            color: orangered !important;
        }

        li {
            float: left;
            width: 14.28571428%;

            i {
                font-size: 14pt;
                z-index: 22;
            }

            a {
                display: block; padding: 0;
                text-decoration: none;
                z-index: 23;
            }
        }

        li:hover > ul {
            display: block;
        }

        ul {
            background: #fff; 
            padding: 0;
            position: absolute; 
            top: 100%;
            min-width: 185px;
            width: auto;
            

            li {
                float: none; 
                position: relative;
                width: 100%;

                a {
                    margin-top: -1px;
                    text-align: left;
                    padding: 5px 5px;
                    //border-bottom: 1px solid #ddd;
                    //border: 1px solid #ddd;
                    border: 1px solid #ddd;
                    border-radius: 2px;
                }

                a:hover {
                    background: #f3f3f3;
                }

                a:before {
                    font-family: "FontAwesome"; font-weight: 900; content: "\f00c";
                }

                a.filled:before {
                    color: #06bf85;
                }
            }

            ul {
                position: absolute; 
                left: 100%; 
                top:0;
            }
        }
    }

    ul:after {
        content: ""; 
        clear: both; 
        display: block;
    }


}