.navbar-admin {
  position: static !important;
  z-index: 100 !important;
  padding: 0 !important;

  &.bg-primary {
    background-color: #3e8a65 !important;
  }

  .nav-link {
    color: #f1f1f1 !important;
  }

  // .active {
  //   .nav-link {
  //     color: #34ea93 !important;
  //   }
  // }

  .dropdown-menu {
    top: 94px;
    right: inherit;
  }
}