.pagination {
    li {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        background-color: #eaeaea;
        border-width: 2px;
        border-style: solid;
        border-color: #fff;
    }
    .active {
        background-color: dodgerblue;
        color: white;
    }
    a {
        color: black;
    }

}