.note {
	display: block;
	position: fixed;
	padding: 1em;
	width: 300px;
	min-height: 300px;
	margin: 0 0 30px 0;
	background: linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,.25));
	// background-color: #AAFABF;
	// box-shadow: 5px 5px 10px -2px rgba(33,33,33,.3);
	transform: rotate(2deg);
	transform: skew(-1deg,1deg);
	transition: transform .15s;
	z-index: 3000;
    right:0;
	@extend .noflick;

	// &:hover {
	// 	cursor: move;
	// }
	// &.ui-draggable-dragging:nth-child(n) {
	// 	box-shadow: 5px 5px 15px 0 rgba(0,0,0,.3);
	// 	transform: scale(1.125) !important;
	// 	z-index: 100;
	// 	cursor: move;
	// 	transition: transform .150s;
	// }

	a{
		color:rgb(238, 24, 24)
	}

	textarea {
		background-color: #F3E80F;
		border: none;
		resize: vertical;
		//font-family: "Gloria Hallelujah", cursive;
		width: 100%;
		padding: 5px;
		&:focus {
			outline: none;
			border: none;
			box-shadow: 0 0 5px 1px rgba(0,0,0,.2) inset;
		}
		&.title {
			font-size: 24px;
			line-height: 1.2;
			color: #000000;
			height: 64px;
			margin-top: 20px;
		}
		&.cnt {
			min-height: 200px;
		}
	}

	div {
		background-color: #F3E80F;
		&.cnt {
			min-height: 200px;
		}

		ol{
			padding: 10px 10px 10px 20px;
		}
	}

	// &:nth-child(2n) {
	// 	background: #AAFABF;
	// }
	// &:nth-child(3n) {
	// 	background: #69F098;
	// }
}

.noflick {
	perspective: 1000;
	backface-visibility: hidden;
	transform: translate3d(0,0,0);
}

.nttoogle {
	right: 0;
    position: fixed;
    z-index: 1;
    top: 150px;
    margin-right: 1%;

    span{
    	color: #F3E80F;
    	cursor: pointer;
		font-size: 40px;
    }

    span[data-badge]:after {
		content: attr(data-badge);
		position: absolute;
		top: -3px;
		left: -3px;
		font-size: 12px;
		background: #ec291b;
		color: #f5eded;
		width: 13px;
		height: 13px;
		text-align: center;
		border-radius: 50%;
		box-shadow: 0 0 1px #f9f6f6;
	}
}