.vertical-txt
{
	writing-mode:vertical-rl;
	transform:scale(-1);
}

.vertical
{
	display:flex;
	align-items:flex-end;
	justify-content:flex-start;
}

/*----- Tabs -----*/
.tabs {
	width:100%;
	display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
	.tab-links:after {
	display:block;
	clear:both;
	content:'';
}

.tab-links li {
	margin:0px 2px;
	float:left;
	list-style:none;
}

.tab-links a {
	padding:9px 15px;
	display:inline-block;
	border-radius:3px 3px 0px 0px;
	background: #efefef;
	font-weight:500;
	color:#4c4c4c;
	transition:all linear 0.15s;
	
}

ul.tab-links {
	margin-bottom: 0;
}

.tab-links a:hover {
	background:#a7cce5;
	text-decoration:none;
}

li.active a, li.active a:hover {
	background:#34ea93;
	color:#4c4c4c;
}

/*----- Content of Tabs -----*/
.tab-content {
	padding:15px;
	border-radius:3px;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15);
	// background:#fff;
}

.tab {
	display:none;
}

.tab.active {
	display:block;
}