@import 'base';
@import "scss/main";

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #7A7A7A;
}

#asset_rep_category_select {
  height: auto !important;
}

table.temp-table{
        display: block;
        overflow-x: auto;
        white-space: nowrap;
}

table.temp-table [class*='select2investments_'] {
  width: 100%;
}

table.temp-table th {
  text-align: center;
  width: 75px
}

table.temp-table td {
  text-align: center;
  max-height: 30px !important;
}

#table_repatriation .select2-selection--multiple {
  max-height: 25px !important;
}

#table_repatriation .select2-selection__choice {
  padding: 0;
  margin-top: 0; 
}

.errorformat{
  border-color: red;
}

li.select2-selection__choice {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis; //use this if you want to shorten
  // float: none !important;
  // margin: 2px !important;
}

#tab-content-repatriation span.select2.select2-container {
  width:100% !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}