@font-face {
  font-family: 'Campton';
  src: url('../fonts/Campton-Book.otf');
  //src:
  //  url('../fonts/Campton-Book.eot?#iefix') format('embedded-opentype'),
  //  url('../fonts/Campton-Book.woff') format('woff'),
  //  url('../fonts/Campton-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Campton';
  src: url('../fonts/Campton-Light.otf');
  //src:
  //  url('../fonts/Campton-Light.eot?#iefix') format('embedded-opentype'),
  //  url('../fonts/Campton-Light.woff') format('woff'),
  //  url('../fonts/Campton-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Campton';
  src: url('../fonts/Campton-Medium.otf');
  //src:
  //  url('../fonts/Campton-Medium.eot?#iefix') format('embedded-opentype'),
  //  url('../fonts/Campton-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Campton';
  src: url('../fonts/Campton-Bold.otf');
  //src:
  //  url('../fonts/Campton-Bold.eot?#iefix') format('embedded-opentype'),
  //  url('../fonts/Campton-Bold.woff') format('woff'),
  //  url('../fonts/Campton-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

//@font-face {
//  font-family: 'FontAwesome';
//  src: url('../fonts/fontawesome-webfont.woff2');
//  src:
//    url('../fonts/fontawesome-webfont.woff2') format('woff2');
//  font-weight: normal;
//  font-style: normal;
//}

* {
  text-rendering: auto; // optimizelegibility
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
