
a, a:hover{
    color:white;
}
.no{
    display:none;
}
.width{
    width: 100% !important;
}
.table{
    width:100%;
}
.col-md-8{
    padding-left:0;
}
.col-md-4{
    padding-left:0;
    padding-right:0;
}

.row{
    margin-right: 0;
    margin-left: 0; 
  }
.btn-click{
    background-color:#dddddd;
    border:none;
    color:black;
    transition:0.2s;
}
.btn-success, .btn-success:hover, .btn-success:active{
    color:white;
}
.product-card{
    width:90%;
    height:auto;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.product-card-header{
    height:130px;
    width:100%;
    border-bottom: 1px solid #E2EBFF;
    display: block;
    position: relative;
}
.product-card-title{
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    color: #3B566E;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: perspective(1px) translateY(-50%);}
.product-price{
    font-weight: 700;
    font-size: 20px;
    color: #34ea93;
    letter-spacing: 2.12px;
}
.product-list{
    text-align: center;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.88px;
    color: #3B566E;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:150px;
}
.price-wrap{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.product-card-footer{
    padding: 5%;
}
.btn-choose{
    background-color:transparent!important;
    color:#031944;
    border-radius:5px;
}
.bttn-info{
    background-color:#007bff!important;
    border-color:#007bff!important;
    color:white;
}
.bttn-info:hover{
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.24);
    transition:0.5s;
}
.toolTip {
    background-color: #eadb34;
    border: 5px solid #eadb34;
    width: 25%;
    height: auto;
    margin-left: 65px;
    margin-top: -85px;
    position: relative;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    color: #061a43;
    padding: 0.5%;
    text-align: left;
}
.tail {
    width: 0px;
    height: 0px;
    border: 10px solid;
    border-color: transparent transparent #eadb34 transparent;
    position: absolute;
    left: 10px;
    top: -22px;
}
@media only screen and (max-width: 991px){
    .toolTip {
        margin-top:-140px;
        margin-bottom:80px;
        text-align:center;
        width:60%;
        margin-left:20%;
    }
    .margin{
        margin-top:50px;
        text-align:center;
    }
}
@media only screen and (max-width: 782px){
    .btn-3{
        min-width:20%!important;
        height:40px;
        padding:2%;
    }
}
@media only screen and (max-width: 680px){
    .font-responsive{
        font-size: 1.5rem !important;
    }
    .mrg-bottom{
        margin-bottom:2% !important;
    }
    .btn-info-nav{
        width:50%;
        height:50px;
        text-align:center;
        padding:0;
        font-size:11px !important;
    }
    .btn-success-nav{
        width:20%;
        height:50px;
        text-align:center;
        padding:4% 1% 4% 1%;
        font-size:11px !important;
    }
    .center{
        text-align:center;
    }
    .padd{
        padding-left:0!important;
        padding-right:0!important;
    }
    .exc1{
        width:40%;
            height:50px;
            text-align:center;
            padding:1%;
    }
    .exc2{
        width:40%;
        height:50px;
        text-align:center;
        padding:2% 1% 2% 1%;
    }
    .no{
        display:block;
        }
    #table_assets-container, .scroll{
        overflow-x:auto;
    }
    .btn-sm{
        width:100%;
    }
    
    .col-md-8{
        padding-right:0; 
    }
    .btn-ss-image{
        max-width:100%!important;
    }
}
@media only screen and (max-width: 559px){
    .btn-3{
        min-width:20%!important;
        height:35px;
        padding:2%;
        font-size:9px !important;
    }
}
@media only screen and (max-width: 480px){
    .toolTip {
        margin-top:-110px;
        margin-bottom:80px;
    }
    .no{
    display:block;
    }
    .btn-info-nav{
        width:50%;
        height:30px;
        text-align:center;
        padding:0;
        font-size:9px !important;
    }
    .btn-success-nav{
        width:20%;
        height:30px;
        text-align:center;
        padding:2% 1% 2% 1%;
        font-size:9px !important;
    }
    .btn-danger{
        font-size:9px !important;
    }
    .btn-success{
        font-size:9px !important;
    }
    .btn-info{
        font-size:9px !important;
    }
    .btn-sm{
        width:100%;
    }
    .center{
        text-align:center;
    }
    .col-sm-4, .col-md-12{
        padding:0;
    }
    .btn-info a{
        height:auto;
    }
    .exc{
    height:47px;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0;
    }
    .width{
        width:100% !important;
    }
    .exc1{
        width:40%;
            height:30px;
            text-align:center;
            padding:1%;
    }
    .exc2{
        width:40%;
        height:30px;
        text-align:center;
        padding:2% 1% 2% 1%;
    }
    .exc3{
        width:40% !important;
    }
    .exc4{
        width:20% !important;
    }
    .col-md-8{
        padding-right:0; 
    }
    .exc5{
        height:50px!important;
        padding:2%;
        width:70%;
    }
    .exc6{
        padding-left:15px !important;
        padding-right:15px !important;
    }
    .exc7{
        position: relative !important;
    }
    .exc8{
        width:90%!important;
    }
    .pad-e{
        padding-left:8%!important;
    }
    .pad{
        padding-left:0!important;
        padding-right:0!important;
    }
    .padd{
        padding-left:15px!important;
        padding-right:15px!important;
    }
    .mrg{
        margin-right:0!important;
    }
    .mrg1{
        margin-left:0!important;
    }
    .penghasilan{
        width:80%;
        height:20%;
        padding:5%;
        font-size:0.6rem!important;
    }
}
